<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Contato
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Contato</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item>
      <ion-input labelPlacement="floating" label="Nome" placeholder="Digite seu nome" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-input labelPlacement="floating" label="E-mail" type="mail" placeholder="Digite seu e-mail" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-textarea
        label="Deixe seu comentário"
        labelPlacement="floating"
        required
        rows="5"
      ></ion-textarea>
    </ion-item>

    <div class="ion-padding-top">
      <ion-button type="submit" expand="block">
        Enviar
        <ion-icon slot="end" name="send"></ion-icon>
      </ion-button>
    </div>
  </ion-list>
</ion-content>
