<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Contato
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Contato</ion-title>
    </ion-toolbar>
  </ion-header>

  <form [formGroup]="contactForm" (ngSubmit)="submitForm()">
    <ion-item>
      <ion-label position="floating">Nome</ion-label>
      <ion-input
        type="text"
        formControlName="name"
        required
        errorText="Nome é obrigatório"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input
        type="email"
        formControlName="email"
        required
        errorText="Email inválido"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Mensagem</ion-label>
      <ion-textarea formControlName="message" required></ion-textarea>
    </ion-item>

    <ion-button
      type="submit"
      expand="block"
      class="ion-margin-top"
      [disabled]="contactForm.invalid"
    >
      Enviar
    </ion-button>
  </form>
</ion-content>
